@CHARSET "UTF-8";
.header{
	position: relative;
	left: 19%;
	width: 65%;
	background-color: gray;
	border-top-style: solid;
	border-width: 5px;
	border-bottom-style: solid;
	border-width: 5px;
	top: 10px;
  }
  
  .link1{
	font-family: andika;
	font-size: 210%;
	color: #fff;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
  }
  
  .btn-style2{
	font-family: andika;
	font-size: 210%;
	color: #fff;
	text-decoration: none;
	background: transparent;
	background: none;
	border: none;
	font-style: normal;
	font-weight: 400;
}
