td.title{font-family: 'Lato', Arial, sans-serif;
  font-size: 200%;
  color: #fff;
	text-shadow: 0 0 20px red;
  }
  
td.info{font-family: 'Lato', Arial, sans-serif;
  font-size: 200%;
  color: #fff;
  }
  
  body{

  position: absolute;
  left: 30%;
  top: 20px;
  background-color: gray;
  border:2px solid;
  border-radius:25px;
  -moz-border-radius:25px;
  box-shadow: 10px 10px 5px BLACK;
  padding: 20px;
  }
  
  
  h1{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 250%;
  color: #fff;
  text-shadow: 0 0 25px red;
  }
  
  td
  {vertical-align:top;
   padding:10px;
  }
  
  a{
  position: relative;
  top: 10px;
  left: 45%;
  }
  
  label{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 150%;
  color: #fff;
  
  }